{% extends 'base.html' %}


{% block body %}
    {% include 'navbar.html' %}
    <body>

        <div class="container">

            <div class="conteudo">
                {% for foto in fotos %}
                    <!-- foto.imagem é a instancia da minha classe Foto pegando a foto em si -->
                    <!-- No html so o .format() é que funciona -->
                    <a  href="{{ url_for('perfil', id_usuario=foto.id_usuario) }}" class="bloco-imagem">
                        <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" />
                    </a>
                {% endfor %}
            </div>

        </div>

    </body>
{% endblock %}