{% extends 'base.html' %}

{% block titulo %}
    Perfil - {{ usuario.username }}
{% endblock %}



{% block head %}
{% endblock %}


{% block body %}
<body>


    <!--Bara de Navegacao-->
    {% include 'navbar.html' %}

    <div class="container">
        <!-- O formulario de Carregar Foto vai aparecer se ele estiver vendo o seu proprio perfil-->
        {% if formfoto %}
        
            <form class="bloco-add-img" action="" method="POST" enctype="multipart/form-data">
                {{ formfoto.csrf_token }}

                <h2>{{ usuario.username }} - Enviar foto</h2>

                <div class="bloco-arquivo">
                    <label for="foto" class="botao-arquivo">
                        Escolher arquivo
                        {{ formfoto.foto( class="input-arquivo", id="foto") }}
                    </label>
                    <span id="imagem-arquivo" class=""></span>
                </div>

                {{ formfoto.botao_enviar_foto(class="botao-login") }}
            </form>
            
        <!--Caso o usuario estiver vendo o perfil de outra pessoa-->
        {% else %}

            <div  class="bloco-add-img">
                <h2>{{ usuario.username }} - Ver Perfil</h2>
            </div>

        {% endif %}
      

        <!--Fotos do usuario que serao carregadas no perfil no usuario-->
        <div class="conteudo">
            {% for foto in usuario.fotos %}
                <!-- foto.imagem é a instancia da minha classe Foto pegando a foto em si -->
                <!-- No html so o .format() é que funciona -->
                <div class="bloco-imagem">
                    <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" />
                </div>
            {% endfor %}
        </div>
     
    </div>  


    <!--JavaScript-->
    <script>
        let input = document.getElementById("foto");
        let imagemArquivo = document.getElementById("imagem-arquivo");

        input.addEventListener("change", () => {
        let inputImagem = document.querySelector("input[type=file]").files[0];

        imagemArquivo.classList.add("visivel");
        imagemArquivo.innerText = inputImagem.name;
        });
    </script>


</body>
{% endblock %}






